# Large data folders
data/
pretrained/
training_logs/
training-logs/
exps/

# Model files
*.pth
*.pt
*.ckpt

# Log files
*.log
*.out
*.txt.bak

# Python cache
__pycache__/
*.pyc

# SLURM output
*.sbatch.o*

